{
    "presets": [
      [
        "@babel/preset-env", {
          "modules": false,
          "useBuiltIns": "usage"
        }
      ]
    ],
    "env": {
      "test": {
        "presets": [["env", { "targets": { "node": "current" } }]]
      }
    }
}
