html, body {
  height: 100%;
}

body {
  font: 100% "Open Sans", Arial, sans-serif;
}

body > div {
  display: flex;
  color: #333;
  flex-direction: column;
  height: 100%;
}

h2 {
  font-weight: 600;
  margin-bottom: 0.5rem;
}